body {
	margin: 0;
	background: #ecf0f1;
	color: #353d46;
	font: 18px/27px 'Oxygen', sans-serif;
}

h1, h2, h3 { color: #FF6B6B; margin: 0 0 27px; }

/*form{
	margin: 0 auto;
	width: 30em;
     }
*/

a {
   list-style: none;
   text-decoration: none;
   color: black;
   }

.cf:before,
.cf:after {
	      content: "";
          display: block;
          clear: both;
           }

*, *:after,
*:before {
         -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
          }

.container {
	       width: 100%;
	       margin: 0 auto;
	        }

.weather {
         //margin-top: .35em;
         //background: $blue;
         z-index: 9999;
         @include border-radius(1px, 1px);
         @include single-box-shadow;
          }



.appt{
      margin: 0 auto;
      padding-top: 1em; 
      max-width: 20em;
      //background: $blue;
      @inclusde border-radius(1px, 1px);
      //@include single-box-shadow; 

	  li{
	      //float: left;
          max-width: 17em;
	      margin: 0.25em auto;
	      padding: 1.3em 2em 1.3em 2em;
	      background: $grey;
	      text-align: center;
	      border-bottom: 1px solid lighten(#556270, 10%);
	      @include border-radius(2px, 3px); 
	      //@include single-box-shadow;
	      }

	    li.completed{
	                color: red;
	                text-decoration: line-through;}

	    a.remove{
	             color: red;
	             margin-left: 10px;
	             display: none;}

	    li:hover a.remove{
	                     display: inline;}
}  


