/*$cs-brightness-offset : false;

$cs-color-model       : rgb;
// rgb, ryb

$primary: cs-primary();
$secondary: lighten(cs-secondary(), 17%); // too light, darkening this up a bit.
$tertiary: cs-tertiary();
$quadrary: cs-quadrary();

$color-h2: rgba(0,10,150,.6);
$color-a-transition: rgba(33, 20, 155,.82);
*/

$yellow: yellow;
$blue: rgba(125,125,125,.33);
$grey: rgba(43,59,166,.05);
