.input {
       margin: 0 auto;
       //background-color: rgba(0, 30, 20, .65);
       background-color: rgba(243, 156, 18,.79);
       padding: 2em;
       max-width: 20em;
       @include border-radius(1px, 1px);
       @include single-box-shadow;
        }

input {
	   height: 2.5;
	   padding: 1em;
	   @include border-radius(1px, 1px);
        }