@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";


@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

$grey: yellow;
$blue: rgba(125,125,125
,.33);
$yellow: rgba(43,59,166,.2);

.cf:before,
.cf:after {
	content: "";
    display: block;
    clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
	width: 100%;
	margin: 0 auto;
	//background: rgba(233, 243,250, .2);

	.main{
    	width: 99%;}
}
 .weather{
  margin-top: .35em;
  height: 8em;
  //background: $blue;
  z-index: 9999;
  @include border-radius(1px, 1px);
  @include single-box-shadow;
  }

.appt{
  margin-top: .35em;
  height: 28em;
  width: 100%;
  //background: $blue;
  @include border-radius(1px, 1px);
  @include single-box-shadow; 
}  


header{
	  @include single-box-shadow;
	}

li {
 	float: left;
	margin-right: 0.25em;
	margin-top: .2em;
	padding-bottom: 1.3em;
	padding-top: 1.3em;
	padding-right: 2em;
	padding-left: 2em;
	//border-right: 1px solid grey;
	//background: $grey;
	@include border-radius(2px, 2px); 
	@include single-box-shadow;
  }

form{
	margin: 0 auto;
	padding-left: 20%;
}

input {
	height: 2.5;
	padding:1.2em;
	@include border-radius(1px, 1px);
}

a {
	list-style: none;
	text-decoration: none;
	color: black;
	}

#rt {
	float: right;
}

.gn {
	display:none;
}

body li{
  font-family: sans-serif;
  font-size: 17px;
}

/*:hover {
  color: #666;
}*/

li.completed {
  color: red;
  text-decoration: line-through;
}

a.remove {
  color: red;
  margin-left: 10px;
  display: none;
}
li:hover a.remove {
  display: inline;
}

#sets li{
	position: relative;
	margin-left: 70%;
	margin-top: .5em;
	padding-bottom: .7em;
	padding-top: .7em;
	//padding-right: .5em;
	padding-left: .4em;
	//background: $grey;
	@include border-radius(2px, 2px); 
	@include single-box-shadow;
	}
	  
@media (min-width: 30em){
	
}

@media (min-width: 40em){
	
	form{margin-left: 3%}
}

@media (min-width: 60em){
	
}
