extends layout

block content
	h1= title
	p Welcome to #{title}

block header

.container
	.main
	header.cf
	ul.hdr
		li.schedule
			a(href='#' data-icon="&#x21;")
		li.add
			a(href='#' data-icon="&#x26;")
		li.settings#rt
			a(href='#' data-icon="&#x22;")

	.input.gn
	form
		input(type="text", id="inputText" name="input" placeholder="Enter Appointment")
		input(type="submit" id="inputButton" name="submit")

	.settingLink.gn.cf
	ul#sets.rt
		li(data-icon="&#x24;")
		li(data-icon="&#x27;")
	
	.weather
	
	.appt