extend layout

block header 

header.cf
          nav#slide-menu
            ul
              li.schedule
                a(href='#', data-icon='6')
              li.add
                a(href='#', data-icon='0')
              li
                a.setting(href='#', data-icon='8')
              li
                a(data-icon='$')    
              li
                a(data-icon='3') 
        .menu-trigger
          a(href="#", data-icon=')') 

