extend layout

block header 

header.cf
          nav#slide-menu
            ul
              li.schedule
                a(href='#', data-icon='!')
              li.add
                a(href='#', data-icon='&')
              li
                a.setting(href='#', data-icon='"')
              li
                a(data-icon='$')    
              li
                a(data-icon='"') 
        .menu-trigger
          img(src="/images/hamburger_dark.svg") 

