!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title DailyTasks
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width', initial-scale="1.0")
    link(rel='stylesheet', href='stylesheets/screen.css')
  body
    .container#content
      .main
        header.cf
          nav#slide-menu
            ul
              li.schedule
                a(href='#', data-icon='6') Schedule
              li.add
                a(href='#', data-icon='0') Add
              li
                a(href='#', data-icon='3') Music  
              li
                a(href='#', data-icon='7') location
              li.setting.sep
                a(href='#', data-icon='8') Settings
        .menu-trigger
          a(href='#', data-icon='!')        
        .input
          form
            input#inputText(type='text', name='input', placeholder='Enter Appt')
            input#inputButton(type='submit')
        .weather
        .appt
          ul#list
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/main.js')    
    script(type='text/javascript', src='/javascripts/grid.min.js')
