extends layout

block content
	.input
		form(action="/input" ,method="post")
			input#inputText(type='text', name='input', placeholder='Enter Appt', autofocus)
			input#inputButton(type='submit')
	#list