extend settings

block content

	.security
		h2 Security
		form
			input(type='checkbox', name='sex', value='male')
			| Location
			br
			input(type='checkbox', name='sex', value='female')
			| Privacy
