/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_fonts.scss */
html {
  font-family: source-sans-pro, helvetica, serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.687em;
}

@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
}

/* line 18, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/_forms.scss */
.input {
  margin: 0 auto;
  background-color: rgba(243, 156, 18, 0.79);
  padding: 2em;
  max-width: 20em;
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 11, ../sass/_forms.scss */
input {
  height: 2.5;
  padding: 1em;
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
}

/* line 1, ../sass/_base.scss */
body {
  margin: 0;
  background: #ecf0f1;
  color: #353d46;
  font: 18px/27px 'Oxygen', sans-serif;
}

/* line 8, ../sass/_base.scss */
h1, h2, h3 {
  color: #FF6B6B;
  margin: 0 0 27px;
}

/*form{
	margin: 0 auto;
	width: 30em;
     }
*/
/* line 16, ../sass/_base.scss */
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

/* line 23, ../sass/_base.scss */
.cf:before,
.cf:after {
  content: "";
  display: block;
  clear: both;
}

/* line 30, ../sass/_base.scss */
*, *:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/_base.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 41, ../sass/_base.scss */
.weather {
  z-index: 9999;
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 52, ../sass/_base.scss */
.appt {
  margin: 0 auto;
  padding-top: 1em;
  max-width: 20em;
  @inclusde border-radius(1px, 1px);
}
/* line 60, ../sass/_base.scss */
.appt li {
  max-width: 17em;
  margin: 0.25em;
  padding: 1.3em 2em 1.3em 2em;
  background: yellow;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 69, ../sass/_base.scss */
.appt li.completed {
  color: red;
  text-decoration: line-through;
}
/* line 73, ../sass/_base.scss */
.appt a.remove {
  color: red;
  margin-left: 10px;
  display: none;
}
/* line 78, ../sass/_base.scss */
.appt li:hover a.remove {
  display: inline;
}
