
$heading-color: lighten(#eb1010, 10%);

$header-color: rgba(0, 0, 0, .05);
$header-menu-color: rgba(0, 0, 0, .03);

$map-shadow: rgba(149, 165, 166,.5);

$yellow: yellow;
$blue: rgba(125,125,125,.33);
$grey: rgba(43,59,166,.05);
