.input {
       margin: 0 auto;
       //background-color: rgba(0, 30, 20, .65);
       background-color: rgba(236, 240, 250,.7);
       padding: 2em;
       max-width: 19em;
       width: 100%;
       @include border-radius(1px, 1px);
       @include single-box-shadow;
  }

input[type=submit] {
  @include single-box-shadow;
  margin-top: 1em;
  }

input {
	   height: 2.5em;
	   padding: .8em;
     width: 100%;
	   @include border-radius(1px, 1px);
}